body {
    background-color: rgb(131, 181, 210);

}
    h1 {
        font-family:
        url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
        font-weight: 200;
        color:beige
        
    }

img {
    width: 30%
}

.div1{
    border-style:dashed
}

.div2{
    background-color:rgb(225, 188, 207)
}

.div3{
    border-style: solid
}

h3 {
    font-family:
    url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
    font: weight 300px;
}

